<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=.\SQLEXPRESS; database=placementwebdb;Integrated Security=SSPI;"
      providerName="System.Data.SqlClient" />
    <add name="placementwebdbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=placementwebdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <siteMap enabled="true" defaultProvider="oldProvider">
      <providers>
        <clear />
        <add name="oldProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
        <add name="newProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="admin/newweb.sitemap" />
      </providers>
    </siteMap>
  </system.web>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>